---
import { getCollection, render } from "astro:content";
import SidebarLayout from "../layouts/SidebarLayout.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<SidebarLayout title={page.data.title}>
  <div
    class="bg-(--md-surface-container-lowest) rounded-2xl shadow-sm p-8 animate-fade-up"
  >
    <div class="page-content article-content prose prose-md max-w-none leading-relaxed"
    >
      <Content />
    </div>
  </div>
</SidebarLayout>
